// LaunchDarkly API access token with Writer permissions
access_token = "ACCESS_TOKEN_GOES_HERE"

// Key of the LaunchDarkly project with flags go into
project_key = "PROJECT_KEY_GOES_HERE"

// Key of the LaunchDarkly ENV (Required for Segments)
ld_env_key = "LD_ENV_KEY_GOES_HERE"

//Your LD API Host (default: https://app.launchdarkly.com)
api_host = "API_HOST_GOES_HERE"
