.accounttext {
  color: #58595b;
  font-family: Sohne;
  font-size: 13.699px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.accountsecondary {
  color: #58595b;
  font-family: Sohne;
  font-size: 12.699px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.balancetext {
  color: rgba(40, 40, 40, 0.53);
  font-family: Sohne;
  font-size: 13.699px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.aprtext {
  color: var(--gray-700, #58595b);
  font-family: Sohne;
  font-size: 12.7px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.duetext {
  color: var(--base-extended-blue-blue-05, #405bff);
  font-family: Sohne;
  font-size: 16.699px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.balance {
  color: #282828;
  font-family: Sohne;
  font-size: 21.936px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@font-face {
    font-family: "Sohne";
    src: url("/fonts/sohne.otf");
  }