.banner {
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 4.5em 0 4.5em 0;
}

.banner h1 {
    font-family: "Audimat";
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.banner p {
    text-align: center;
    font-family: "Sohne Light";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}
